body{
    margin: 0;
}

#user-selection{
    background-color: rgb(232, 249, 253);
    color:#0AA1DD;
    padding: 24px;
}
h3{
    font-size: 24px;
    
}
#user-items-container{
    margin: 6px;
    padding:6px;
}

a{
    text-decoration: none;
    padding:6x;
    color: #2155CD;

}